* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.banner {
    background-image: url('../images/banner/banner2.png');
    background-size: cover;
    height: 800px;
    padding: 30px;
    text-align: right;

}

.banner-heading {
    font-weight: 800px;
    padding-top: 100px;
    font-size: 64px;
    margin-left: 50%;
    padding: 250px 100px 20px 0;
    /* text-align: right; */

}

.believe {
    /* color: rgb(182, 7, 7); */
    color: rgb(182, 7, 7);
}

.description {
    /* margin-left: 60%; */
    padding: 10px 100px 30px 0;
    color: #444343;
}

.contact-btn {
    /* margin-left: 50%; */
    background-color: rgb(182, 7, 7);
    border: 0;
    border-radius: 7px;
    height: 50px;
    width: 120px;
    color: white;
    margin-right: 100px;
    font-size: 18px;
}

/* section 2 */
.failure {
    display: flex;
    margin-top: 130px;
    max-width: 1100px;
    margin-left: 15%;
    gap: 90px;
}

.failure-heading {
    /* margin-left: 50%; */
    margin-top: 300px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 10%;
}

.failure-description {
    margin-bottom: 15px;
    color: #444343;
    margin-left: 10%;
}

.failure-list {
    /* margin-left: 50%; */
    /* list-style: '\2713'; */
    color: #444343;
    list-style: none;
}
ul li:before { 
    content: '✓ '; 
   color: rgb(0, 255, 0); 
}
/* plans section */
.plan-heading {
    margin-top: 130px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    margin-bottom: 50px;

}

.tasks .list {
    display: flex;
    justify-content: center;
    gap: 100px;
    list-style: none;


}

.img-skill {
    margin-left: 20%;
}

.skill-head {
    margin-top: 30px;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
    margin-bottom: 15px;
}

.sikk-des {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
    margin-top: 15px;

}

#gradient-bg {


    margin-top: 130px;
    background-image: url('../images/watch.png'), url('../images/gradient3.png');
    background-blend-mode: overlay;
    background-repeat: no-repeat;

    background-position: center;
    height: 300px;
    margin-bottom: 100px;



}

.mindset {
    margin-left: 18%;
    padding: 30px 60px;
}

.gradient-head {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 30px;


}

.common-btn {
    background-color: white;

    border: 0;
    border-radius: 7px;
    height: 50px;
    width: 120px;
    color: orangered;
    font-weight: 600;
    font-size: 20px;
}

.developer {
    background: #FFFED5;
    text-align: center;
    width: 1150px;
    margin: 0 auto;
    border-radius: 20px;
    margin-bottom: 200px;

}
.developer h2 {
    padding-top: 50px;
    font-weight: 700;
font-size: 65px;
}

footer {
    background: #151414;
    height: 550px;
}

.ending {
    display: flex;
    gap: 250px;
    padding: 180px 180px 0 180px;
}

.future h4 {
    color: white;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 15px;
}

.future p {
    color: #FFFFFF;
    margin-bottom: 25px;
}

.subscribe h5 {
    color: white;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;

}

.subscribe input {
    margin-bottom: 15px;
    background-color: #151414;

    width: 320px;
    height: 50px;
    border-radius: 5px;
    border: #FFFFFF;
    box-sizing: border-box;
    border-style: solid;
}